@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 </div>
<hr/>
<div>
     <h1>I developed functionalities</h1>
       <div class="my-3 d-flex flex-column">
           <div class="P-3 d-flex flex-column">
               <h3 class="text-danger">Email Service</h3>
               <div class="my-2 p-2 d-flex flex-row gap-3 justify-content-space-between align-items-center">
                   <a href="/email/inbox" class="btn btn-primary">Inbox</a>
                   <a href="#" class="btn btn-info">New Email</a>
               </div>
           </div>
       </div>
</div>

